In [19]:
Задание 1
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность 
определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ 
пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }
Результат классификации запишите в отдельный столбец region.
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
Результат классификации запишите в отдельный столбец region.

SyntaxError: invalid syntax (<ipython-input-19-6892602ff72d>, line 1)

In [10]:
import pandas as pd

In [20]:
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
towns=[]
for values in geo_data.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [21]:
row='купить тапочки москва'
data=row.split(' ')
def check(t):
    for i in t:
        if i in towns:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [22]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [23]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [24]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [25]:
df[(df['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

In [ ]:
**Задание 2**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [18]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on=["movieId"], how='inner')
pvt = Total.pivot_table(index=['title','movieId'], values = 'rating', aggfunc='mean')
pvt.head()

                                                   rating
title                                   movieId
"Great Performances" Cats (1998)        51372    1.750000
$9.99 (2008)                            74486    3.833333
'Hellboy': The Seeds of Creation (2004) 97757    2.000000
'Neath the Arizona Skies (1934)         70121    0.500000
'Round Midnight (1986)                  26564    2.250000

In [77]:
pvt=pvt.reset_index()

In [72]:
def classification(i):
    if i  <= 2:
        return 'низкий рейтинг'
    elif i  <= 4 and i >2:
        return 'средний рейтинг'
    elif i  >4.5:
        return 'высокий рейтинг'

In [80]:
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

                                     title  movieId  rating            class
0                               '71 (2014)   117867     4.0  средний рейтинг
1  'Hellboy': The Seeds of Creation (2004)    97757     4.0  средний рейтинг
2                   'Round Midnight (1986)    26564     3.5  средний рейтинг
3                      'Salem's Lot (2004)    27751     5.0  высокий рейтинг
4                'Til There Was You (1997)      779     4.0  средний рейтинг

In [ ]:
**Задание 3**

Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). 
Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. 
Ответ дайте в днях.

In [102]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [235]:
ratings_new = ratings.groupby('userId').agg(['min', 'max','count'])['timestamp'].head()
ratings_new['Lifetime'] = ratings_new['max'] - ratings_new['min']
ratings_filt = ratings_new[(ratings_new['count']>100)]
ratings_filt.head()

              min         max  count  Lifetime
userId
1       964980499   965719662    232    739163
4       945078428  1007574542    216  62496114